.genre-filter {
    margin-top: 10rem;
    max-width: 1024px;
    width: 64rem;
    height: auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.genre-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-2);
}

.genre-title.dark-mode {
    color: var(--gray-7);
}

.genre-list {
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 1.563rem;
}

.genre-button{
    background-color: var(--gray-6);
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: 4px;
}

.genre-button.dark-mode {
    background-color: var(--gray-2);
    color: var(--gray-8);
}

.genre-button:active {
    background-color: var(--gray-2);
}

.genre-button.dark-mode:active {
    background-color: var(--gray-7);
}

li {
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.36px;
    color: var(--gray-3);
}

li.dark-mode {
    color: var(--gray-6);
}

li:active{
    color: var(--gray-7);
}

li.dark-mode:active {
    color: var(--gray-2);
}

/* Responsividade */
@media (max-width: 1040px) {
    .genre-filter {
        width: auto;
    }
    .genre-title {
        text-align: start;
    }
    .genre-list {
        width: auto;
        height: auto;
    }
}

@media(max-width: 730px) and (max-width: 960px) {
    .genre-filter {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .genre-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media(max-width: 520px) {
    .genre-title {
        text-align: center;
    }
    .genre-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}

